<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scs.dao.AirconditionMapper">
  <resultMap id="BaseResultMap" type="com.scs.pojo.Aircondition">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="temperature" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="wind_speed" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="wind_direction" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="model" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="equipment_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMap" type="com.scs.pojo.Aircondition">
    <id column="id" property="id"/>
    <result column="temperature" property="temperature"/>
    <result column="wind_speed" property="windSpeed"/>
    <result column="wind_direction" property="windDirection"/>
    <result column="model" property="model"/>
    <result column="time" property="time"/>
    <result column="equipment_id" property="equipmentId"/>
  </resultMap>


  <sql id="Base_Column_List">
    id, temperature, wind_speed, wind_direction, model, time, equipment_id
  </sql>
  <select id="selectByExample" parameterType="com.scs.pojo.Aircondition" resultMap="ResultMap">
    select
    <include refid="Base_Column_List" />
    from aircondition
    <trim prefix="where" suffixOverrides="and">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER}and
      </if>
      <if test="temperature != null">
        temperature = #{temperature,jdbcType=REAL}and
      </if>
      <if test="windSpeed != null">
        wind_speed = #{windSpeed,jdbcType=VARCHAR}and
      </if>
      <if test="windDirection != null">
        wind_direction = #{windDirection,jdbcType=VARCHAR}and
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR}and
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP}and
      </if>
      <if test="equipmentId != null">
        equipment_id = #{equipmentId,jdbcType=INTEGER}and
      </if>

    </trim>

  </select>
  <delete id="deleteByExample" >
    delete from aircondition WHERE id=#{id}

  </delete>
  <insert id="insert" parameterType="com.scs.pojo.Aircondition">
    insert into aircondition (id, temperature, wind_speed, 
      wind_direction, model, time, 
      equipment_id)
    values (#{id,jdbcType=INTEGER}, #{temperature,jdbcType=REAL}, #{windSpeed,jdbcType=VARCHAR}, 
      #{windDirection,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{equipmentId,jdbcType=INTEGER})
    <!--select传过来的数据立马传给id -->
    <selectKey resultType="int" keyProperty="id" order="AFTER">
      select @@identity
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.scs.pojo.Aircondition">
    insert into aircondition
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="temperature != null">
        temperature,
      </if>
      <if test="windSpeed != null">
        wind_speed,
      </if>
      <if test="windDirection != null">
        wind_direction,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="equipmentId != null">
        equipment_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="temperature != null">
        #{temperature,jdbcType=REAL},
      </if>
      <if test="windSpeed != null">
        #{windSpeed,jdbcType=VARCHAR},
      </if>
      <if test="windDirection != null">
        #{windDirection,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" resultType="java.lang.Long">
    select count(*) from aircondition
  </select>
  <update id="updateByExampleSelective" parameterType="com.scs.pojo.Aircondition">
    update aircondition
    <set>
      <trim suffixOverrides=",">
        <if test="id != null">
          id = #{id,jdbcType=INTEGER},
        </if>
        <if test="temperature != null">
          temperature = #{temperature,jdbcType=REAL},
        </if>
        <if test="windSpeed != null">
          wind_speed = #{windSpeed,jdbcType=VARCHAR},
        </if>
        <if test="windDirection != null">
          wind_direction = #{windDirection,jdbcType=VARCHAR},
        </if>
        <if test="model != null">
          model = #{model,jdbcType=VARCHAR},
        </if>
        <if test="time != null">
          time = #{time,jdbcType=TIMESTAMP},
        </if>
        <if test="equipmentId != null">
          equipment_id = #{equipmentId,jdbcType=INTEGER},
        </if>

      </trim>

    </set>
    
    where id=#{id}
  </update>

  <select id="selectById" resultMap="ResultMap">
    SELECT * FROM aircondition WHERE id=#{id}
  </select>

  <select id="selectAllAircondition" resultMap="ResultMap">
    select * from aircondition
  </select>
  
</mapper>