<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scs.dao.ControlMapper">
  <resultMap id="BaseResultMap" type="com.scs.pojo.Control">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="orderc" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="equipment_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMap" type="com.scs.pojo.Control">
    <id column="id" property="id"/>
    <result column="time" property="time"/>
    <result column="user_id" property="userId"/>
    <result column="orderc" property="order"/>
    <result column="equipment_id" property="equipmentId"/>
  </resultMap>
  
  
  <sql id="Base_Column_List">
    id, time, user_id, orderc, equipment_id
  </sql>
  <select id="selectByExample" parameterType="com.scs.pojo.Control" resultMap="ResultMap">
    select
    <include refid="Base_Column_List" />
    from control
    <trim prefix="where" suffixOverrides="and">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER}and
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP}and
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER}and
      </if>
      <if test="order != null">
        orderc = #{order,jdbcType=VARCHAR}and
      </if>
      <if test="equipmentId != null">
        equipment_id = #{equipmentId,jdbcType=INTEGER}and
      </if>
    </trim>
  </select>
  <delete id="deleteByExample" >
    delete from control WHERE id=#{id}
  </delete>
  <insert id="insert" parameterType="com.scs.pojo.Control">
    insert into control (id, time, user_id, 
      orderc, equipment_id)
    values (#{id,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, 
      #{order,jdbcType=VARCHAR}, #{equipmentId,jdbcType=INTEGER})
    <!--select传过来的数据立马传给id -->
    <selectKey resultType="int" keyProperty="id" order="AFTER">
      select @@identity
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.scs.pojo.Control">
    insert into control
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="order != null">
        orderc,
      </if>
      <if test="equipmentId != null">
        equipment_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="order != null">
        #{order,jdbcType=VARCHAR},
      </if>
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" resultType="java.lang.Long">
    select count(*) from control 
  </select>
  <update id="updateByExampleSelective" parameterType="com.scs.pojo.Control">
    update control
    <set>
      
      <trim suffixOverrides=",">
        <if test="id != null">
          id = #{id,jdbcType=INTEGER},
        </if>
        <if test="time != null">
          time = #{time,jdbcType=TIMESTAMP},
        </if>
        <if test="userId != null">
          user_id = #{userId,jdbcType=INTEGER},
        </if>
        <if test="order != null">
          orderc = #{order,jdbcType=VARCHAR},
        </if>
        <if test="equipmentId != null">
          equipment_id = #{equipmentId,jdbcType=INTEGER},
        </if>
        
      </trim>
    </set>
    where id=#{id}
  </update>
  
  <select id="selectById" resultMap="ResultMap">
    SELECT * FROM control WHERE id=#{id}
  </select>
  <select id="selectAllControls" resultMap="ResultMap">
    SELECT * FROM control
  </select>
  
  
</mapper>