<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scs.dao.CourseYMapper">

  <resultMap id="ResultMap" type="com.scs.pojo.CourseY">
    <id column="id" property="id"/>
    <result column="course_id" property="courseId"/>
    <result column="week_day" property="weekDay"/>
    <result column="time" property="time"/>
    <result column="disabled" property="disabled"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, course_id, week_day, time, disabled
  </sql>
  <select id="selectByExample" parameterType="com.scs.pojo.CourseY" resultMap="ResultMap">
    select
    <include refid="Base_Column_List" />
    from coursey
    <trim prefix="where" suffixOverrides="and">
      <if test="id != null">
        id=#{id,jdbcType=INTEGER}and
      </if>
      <if test="courseId != null">
        course_id=#{courseId,jdbcType=INTEGER}and
      </if>
      <if test="weekDay != null">
        weekDay=#{weekDay,jdbcType=VARCHAR}and
      </if>
      <if test="time != null">
        time=#{time}and
      </if>
      <if test="disabled != null">
        disabled=#{disabled,jdbcType=BIT}and
      </if>


    </trim>




  </select>
  <delete id="deleteById" parameterType="com.scs.pojo.CourseY">
    delete from coursey WHERE id=#{id}
  </delete>
  <insert id="insert" parameterType="com.scs.pojo.CourseY">
    insert into coursey (id, course_id, week_day, 
      time, disabled)
    values (#{id,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{weekDay,jdbcType=VARCHAR}, 
      #{time}, #{disabled,jdbcType=BIT})
    <!--select传过来的数据立马传给id -->
    <selectKey resultType="int" keyProperty="id" order="AFTER">
      select @@identity
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.scs.pojo.CourseY">
    insert into coursey
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="weekDay != null">
        week_day,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="disabled != null">
        disabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="weekDay != null">
        #{weekDay,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time},
      </if>
      <if test="disabled != null">
        #{disabled,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" resultType="java.lang.Long">
    select count(*) from coursey
  </select>
  <update id="updateByExampleSelective" parameterType="com.scs.pojo.CourseY">
    update coursey
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="weekDay != null">
        week_day = #{weekDay,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time},
      </if>
      <if test="disabled != null">
        disabled = #{disabled,jdbcType=BIT},
      </if>
    </set>
    where id = #{id}
  </update>


  <select id="selectById" resultMap="ResultMap">
    SELECT * FROM coursey WHERE id=#{id}
  </select>

  <select id="selectAllCoursey" resultMap="ResultMap">
    SELECT * FROM coursey
  </select>

</mapper>