<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scs.dao.CourseZMapper">
  <resultMap id="BaseResultMap" type="com.scs.pojo.CourseZ">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="time" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="start_time" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="end_time" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>

  <resultMap id="ResultMap" type="com.scs.pojo.CourseZ">
    <id column="id" property="id"/>
    <result column="time" property="time"/>
    <result column="start_time" property="startTime"/>
    <result column="end_time" property="endTime"/>
  </resultMap>


  <select id="selectById" resultMap="ResultMap">
    SELECT * FROM coursez WHERE id=#{id}
  </select>




  <sql id="Base_Column_List">
    id, time, start_time, end_time
  </sql>
  <select id="selectByExample" parameterType="com.scs.pojo.CourseZ" resultMap="ResultMap">
    select
    <include refid="Base_Column_List" />
    from coursez

  </select>
  <delete id="deleteByExample" parameterType="com.scs.pojo.CourseZ">
    delete from coursez

  </delete>
  <insert id="insert" parameterType="com.scs.pojo.CourseZ">
    insert into coursez (id, time, start_time, 
      end_time)
    values (#{id,jdbcType=INTEGER}, #{time,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, 
      #{endTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.scs.pojo.CourseZ">
    insert into coursez
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" resultType="java.lang.Long">
    select count(*) from coursez

  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update coursez
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=VARCHAR},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=VARCHAR},
      </if>
    </set>
  </update>

</mapper>