<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scs.dao.EquipmentMapper">
  <resultMap id="BaseResultMap" type="com.scs.pojo.Equipment">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="input_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="lei" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="state" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMap" type="com.scs.pojo.Equipment">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="input_time" property="inputTime"/>
    <result column="lei" property="lei"/>
    <result column="state" property="state"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, name, input_time, lei, state
  </sql>
  <select id="selectByExample" parameterType="com.scs.pojo.Equipment"
          resultMap="ResultMap">
    select
    <include refid="Base_Column_List" />
    from equipment
    <trim prefix="where" suffixOverrides="and">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER}and
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR}and
      </if>
      <if test="inputTime != null">
        input_time = #{inputTime,jdbcType=TIMESTAMP}and
      </if>
      <if test="lei != null">
        lei = #{lei,jdbcType=VARCHAR}and
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR}and
      </if>
    </trim>

  </select>
  <delete id="deleteByExample" parameterType="com.scs.pojo.Equipment">
    delete from equipment WHERE id=#{id}
  </delete>
  <insert id="insert" parameterType="com.scs.pojo.Equipment">
    insert into equipment (id, name, input_time, 
      lei, state)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{inputTime,jdbcType=TIMESTAMP}, 
      #{lei,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR})
    <!--select传过来的数据立马传给id -->
    <selectKey resultType="int" keyProperty="id" order="AFTER">
      select @@identity
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.scs.pojo.Equipment">
    insert into equipment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="inputTime != null">
        input_time,
      </if>
      <if test="lei != null">
        lei,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lei != null">
        #{lei,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.scs.pojo.Equipment" resultType="java.lang.Long">
    select count(*) from equipment
  </select>
  <update id="updateByExampleSelective" parameterType="com.scs.pojo.Equipment">
    update equipment
    <set>
      <trim suffixOverrides=",">
        <if test="id != null">
          id = #{id,jdbcType=INTEGER},
        </if>
        <if test="name != null">
          name = #{name,jdbcType=VARCHAR},
        </if>
        <if test="inputTime != null">
          input_time = #{inputTime,jdbcType=TIMESTAMP},
        </if>
        <if test="lei != null">
          lei = #{lei,jdbcType=VARCHAR},
        </if>
        <if test="state != null">
          state = #{state,jdbcType=VARCHAR},
        </if>
      </trim>

    </set>
    where id=#{id}
  </update>

  <select id="selectById" resultMap="ResultMap">
    SELECT * FROM equipment WHERE id=#{id}
  </select>

  <select id="selectAllEquipments" resultMap="ResultMap">
    SELECT * FROM equipment
  </select>



  
</mapper>