<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scs.dao.GradeMapper">
  <resultMap id="BaseResultMap" type="com.scs.pojo.Grade">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="course_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="student_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="grade" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>


  <resultMap id="ResultMap" type="com.scs.pojo.Grade">
    <id column="id" property="id"/>
    <result column="course_id" property="courseId"/>
    <result column="student_id" property="studentId"/>
    <result column="grade" property="grade"/>
  </resultMap>
  
  
  
  <sql id="Base_Column_List">
    id, course_id, student_id, grade
  </sql>
  <select id="selectByExample" parameterType="com.scs.pojo.Grade"
          resultMap="ResultMap">
    select
    <include refid="Base_Column_List" />
    from grade
    <trim prefix="where" suffixOverrides="and">
      <if test="id != null">
        id=#{id,jdbcType=INTEGER}and
      </if>
      <if test="courseId != null">
        course_id=#{courseId,jdbcType=INTEGER}and
      </if>
      <if test="studentId != null">
        student_id=#{studentId,jdbcType=INTEGER}and
      </if>
      <if test="grade != null">
        grade=#{grade,jdbcType=INTEGER}and
      </if>
    </trim>
    
    
  </select>
  
  <insert id="insert" parameterType="com.scs.pojo.Grade">
    insert into grade (id, course_id, student_id, 
      grade)
    values (#{id,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER}, 
      #{grade,jdbcType=INTEGER})
    <!--select传过来的数据立马传给id -->
    <selectKey resultType="int" keyProperty="id" order="AFTER">
      select @@identity
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.scs.pojo.Grade">
    insert into grade
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="grade != null">
        grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateByExampleSelective" parameterType="com.scs.pojo.Grade">
    update grade
    <set>
      <trim suffixOverrides=",">
        <if test="id != null">
          id = #{id,jdbcType=INTEGER},
        </if>
        <if test="courseId != null">
          course_id = #{courseId,jdbcType=INTEGER},
        </if>
        <if test="studentId != null">
          student_id = #{studentId,jdbcType=INTEGER},
        </if>
        <if test="grade != null">
          grade = #{grade,jdbcType=INTEGER},
        </if>
      </trim>
      
    </set>
    where id=#{id}
  </update>
  
  
  <delete id="deleteByExample" >
    delete from grade WHERE id=#{id}
  </delete>
  
  
  <select id="countByExample"  resultType="java.lang.Long">
    select count(*) from grade
  </select>


  <select id="selectById" resultMap="ResultMap">
    SELECT * FROM grade where id=#{id}
  </select>

  <select id="selectAllGrades" resultMap="ResultMap">
    SELECT * FROM grade
  </select>
 
  
</mapper>