<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scs.dao.LightMapper">
  <resultMap id="BaseResultMap" type="com.scs.pojo.Light">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="bright" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="on_off" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="equipment_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMap" type="com.scs.pojo.Light">
    <id column="id" property="id"/>
    <result column="bright" property="bright"/>
    <result column="on_off" property="onOff"/>
    <result column="time" property="time"/>
    <result column="equipment_id" property="equipmentId"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, bright, on_off, time, equipment_id
  </sql>
  <select id="selectByExample" parameterType="com.scs.pojo.Light" resultMap="ResultMap">
    select
    <include refid="Base_Column_List" />
    from light
    <trim prefix="where" suffixOverrides="and">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="bright != null">
        bright = #{bright,jdbcType=REAL},
      </if>
      <if test="onOff != null">
        on_off = #{onOff,jdbcType=BIT},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="equipmentId != null">
        equipment_id = #{equipmentId,jdbcType=INTEGER},
      </if>
    </trim>
  </select>
  <delete id="deleteByExample" >
    delete from light WHERE id=#{id}

  </delete>
  <insert id="insert" parameterType="com.scs.pojo.Light">
    insert into light (id, bright, on_off, time, 
      equipment_id)
    values (#{id,jdbcType=INTEGER}, #{bright,jdbcType=REAL}, #{onOff,jdbcType=BIT}, #{time,jdbcType=TIMESTAMP}, 
      #{equipmentId,jdbcType=INTEGER})
    <!--select传过来的数据立马传给id -->
    <selectKey resultType="int" keyProperty="id" order="AFTER">
      select @@identity
    </selectKey>


  </insert>
  <insert id="insertSelective" parameterType="com.scs.pojo.Light">
    insert into light
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bright != null">
        bright,
      </if>
      <if test="onOff != null">
        on_off,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="equipmentId != null">
        equipment_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bright != null">
        #{bright,jdbcType=REAL},
      </if>
      <if test="onOff != null">
        #{onOff,jdbcType=BIT},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample"  resultType="java.lang.Long">
    select count(*) from light
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update light
    <set>
      <trim suffixOverrides=",">
        <if test="id != null">
          id = #{id,jdbcType=INTEGER},
        </if>
        <if test="bright != null">
          bright = #{bright,jdbcType=REAL},
        </if>
        <if test="onOff != null">
          on_off = #{onOff,jdbcType=BIT},
        </if>
        <if test="time != null">
          time = #{time,jdbcType=TIMESTAMP},
        </if>
        <if test="equipmentId != null">
          equipment_id = #{equipmentId,jdbcType=INTEGER},
        </if>
      </trim>

    </set>
    
    where id=#{id}
  </update>

  <select id="selectAllLights" resultMap="ResultMap">
    SELECT * FROM light
  </select>

  <select id="selectById" resultMap="ResultMap">
    SELECT * FROM light WHERE id=#{id}
  </select>
  
  
  
</mapper>