<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scs.dao.SignMapper">
  <resultMap id="BaseResultMap" type="com.scs.pojo.Sign">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="coursey_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="student_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sign_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="class_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="leave_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMap" type="com.scs.pojo.Sign">
    <id column="id" property="id"/>
    <result column="date" property="date"/>
    <result column="coursey_id" property="courseyId"/>
    <result column="student_id" property="studentId"/>
    <result column="sign_time" property="signTime"/>
    <result column="class_id" property="classId"/>
    <result column="leave_time" property="leaveTime"/>
  </resultMap>
  
  <sql id="Base_Column_List">
    id, date, coursey_id, student_id, sign_time, class_id, leave_time
  </sql>
  <select id="selectByExample" parameterType="com.scs.pojo.Sign" resultMap="ResultMap">
    select
    <include refid="Base_Column_List" />
    from sign
    <trim prefix="where" suffixOverrides="and">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER}and
      </if>
      <if test="date != null">
        date = #{date,jdbcType=DATE}and
      </if>
      <if test="courseyId != null">
        coursey_id = #{courseyId,jdbcType=INTEGER}and
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=INTEGER}and
      </if>
      <if test="signTime != null">
        sign_time = #{signTime,jdbcType=TIMESTAMP}and
      </if>
      <if test="classId != null">
        class_id = #{classId,jdbcType=INTEGER}and
      </if>
      <if test="leaveTime != null">
        leave_time = #{leaveTime,jdbcType=TIMESTAMP}and
      </if>
      
    </trim>
    
    
  </select>
  <delete id="deleteByExample" parameterType="com.scs.pojo.Sign">
    delete from sign WHERE id=#{id}
  </delete>
  <insert id="insert" parameterType="com.scs.pojo.Sign">
    insert into sign (id, date, coursey_id, 
      student_id, sign_time, class_id, 
      leave_time)
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=DATE}, #{courseyId,jdbcType=INTEGER}, 
      #{studentId,jdbcType=INTEGER}, #{signTime,jdbcType=TIMESTAMP}, #{classId,jdbcType=INTEGER}, 
      #{leaveTime,jdbcType=TIMESTAMP})
    <!--select传过来的数据立马传给id -->
    <selectKey resultType="int" keyProperty="id" order="AFTER">
      select @@identity
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.scs.pojo.Sign">
    insert into sign
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="courseyId != null">
        coursey_id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="signTime != null">
        sign_time,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="leaveTime != null">
        leave_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="courseyId != null">
        #{courseyId,jdbcType=INTEGER},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="signTime != null">
        #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="leaveTime != null">
        #{leaveTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample"  resultType="java.lang.Long">
    select count(*) from sign
  </select>
  <update id="updateByExampleSelective" parameterType="com.scs.pojo.Sign">
    update sign
    <set>
      <trim suffixOverrides=",">
        <if test="id != null">
          id = #{id,jdbcType=INTEGER},
        </if>
        <if test="date != null">
          date = #{date,jdbcType=DATE},
        </if>
        <if test="courseyId != null">
          coursey_id = #{courseyId,jdbcType=INTEGER},
        </if>
        <if test="studentId != null">
          student_id = #{studentId,jdbcType=INTEGER},
        </if>
        <if test="signTime != null">
          sign_time = #{signTime,jdbcType=TIMESTAMP},
        </if>
        <if test="classId != null">
          class_id = #{classId,jdbcType=INTEGER},
        </if>
        <if test="leaveTime != null">
          leave_time = #{leaveTime,jdbcType=TIMESTAMP},
        </if>
      </trim>

    </set>

    where id=#{id}
  </update>

  <select id="selectById" resultMap="ResultMap">
    SELECT * FROM sign WHERE id=#{sign}
  </select>

  <select id="selectAllSigns" resultMap="ResultMap">
    SELECT * FROM sign
  </select>
  
</mapper>