<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scs.dao.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.scs.pojo.Teacher">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sex" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="birth" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="employment_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="home" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="introduction" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="job_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="disabled" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMap" type="com.scs.pojo.Teacher">
    <id column="id" property="id"/>
    <result column="user_id" property="userId"/>
    <result column="name" property="name"/>
    <result column="sex" property="sex"/>
    <result column="birth" property="birth"/>
    <result column="employment_date" property="employmentDate"/>
    <result column="home" property="home"/>
    <result column="introduction" property="introduction"/>
    <result column="job_title" property="jobTitle"/>
    <result column="pic" property="pic"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
    <result column="disabled" property="disabled"/>
  </resultMap>


  <sql id="Base_Column_List">
    id, user_id, name, sex, birth, employment_date, home, introduction, job_title, pic, 
    create_time, update_time, disabled
  </sql>
  <select id="selectByExample" parameterType="com.scs.pojo.Teacher" resultMap="ResultMap">
    select
    <include refid="Base_Column_List" />
    from teacher
    <trim prefix="where"  suffixOverrides="and">
      <if test="id != null">
        id=#{id,jdbcType=INTEGER} and
      </if>
      <if test="userId != null">
        userId=#{userId,jdbcType=INTEGER} and
      </if>
      <if test="name != null">
        name like concat('%',#{name},'%')and
      </if>
      <if test="sex != null">
        sex=#{sex,jdbcType=VARCHAR}and
      </if>
      <if test="birth != null">
        birth=#{birth,jdbcType=TIMESTAMP}and
      </if>
      <if test="employmentDate != null">
        employmentDate=#{employmentDate,jdbcType=TIMESTAMP}and
      </if>
      <if test="home != null">
        home=#{home,jdbcType=VARCHAR}and
      </if>
      <if test="introduction != null">
        introduction=#{introduction,jdbcType=VARCHAR}and
      </if>
      <if test="jobTitle != null">
        jobTitle=#{jobTitle,jdbcType=VARCHAR}and
      </if>
      <if test="pic != null">
        pic=#{pic,jdbcType=VARCHAR}and
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP} and
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP} and
      </if>
      <if test="disabled != null">
        disabled = #{disabled,jdbcType=BIT} and
      </if>
    </trim>
  </select>
  <delete id="deleteById">
    delete from teacher WHERE id=#{id}
  </delete>
  <insert id="insert" parameterType="com.scs.pojo.Teacher">
    insert into teacher (id, user_id, name, 
      sex, birth, employment_date, 
      home, introduction, job_title, 
      pic, create_time, update_time, 
      disabled)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birth,jdbcType=TIMESTAMP}, #{employmentDate,jdbcType=TIMESTAMP}, 
      #{home,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, #{jobTitle,jdbcType=VARCHAR}, 
      #{pic,jdbcType=VARCHAR}, now(), now(),
      #{disabled,jdbcType=BIT})
    <!--select传过来的数据立马传给id -->
    <selectKey resultType="int" keyProperty="id" order="AFTER">
      select @@identity
    </selectKey>

  </insert>
  <insert id="insertSelective" parameterType="com.scs.pojo.Teacher">
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="employmentDate != null">
        employment_date,
      </if>
      <if test="home != null">
        home,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="jobTitle != null">
        job_title,
      </if>
      <if test="pic != null">
        pic,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="disabled != null">
        disabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=TIMESTAMP},
      </if>
      <if test="employmentDate != null">
        #{employmentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="home != null">
        #{home,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="jobTitle != null">
        #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        now(),
      </if>
      <if test="updateTime != null">
        now(),
      </if>
      <if test="disabled != null">
        #{disabled,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countTeachers" resultType="java.lang.Long">
    select count(*) from teacher
  </select>

  <select id="selectAllTeachers" resultMap="ResultMap">
    SELECT * FROM teacher
  </select>

  <select id="selectById" resultMap="ResultMap">
    SELECT * FROM teacher WHERE id = #{id}

  </select>


  <update id="updateByExampleSelective" parameterType="com.scs.pojo.Teacher">
    update teacher
    <set>
      <trim suffixOverrides=",">
        <if test="id != null">
          id = #{id,jdbcType=INTEGER},
        </if>
        <if test="userId != null">
          user_id = #{userId,jdbcType=INTEGER},
        </if>
        <if test="name != null">
          name = #{name,jdbcType=VARCHAR},
        </if>
        <if test="sex != null">
          sex = #{sex,jdbcType=VARCHAR},
        </if>
        <if test="birth != null">
          birth = #{birth,jdbcType=TIMESTAMP},
        </if>
        <if test="employmentDate != null">
          employment_date = #{employmentDate,jdbcType=TIMESTAMP},
        </if>
        <if test="home != null">
          home = #{home,jdbcType=VARCHAR},
        </if>
        <if test="introduction != null">
          introduction = #{introduction,jdbcType=VARCHAR},
        </if>
        <if test="jobTitle != null">
          job_title = #{jobTitle,jdbcType=VARCHAR},
        </if>
        <if test="pic != null">
          pic = #{pic,jdbcType=VARCHAR},
        </if>
        <if test="createTime != null">
          create_time = #{createTime,jdbcType=TIMESTAMP},
        </if>

        <if test="disabled != null">
          disabled = #{disabled,jdbcType=BIT},
        </if>
          update_time = now(),
      </trim>
    </set>
    where id = #{id}
  </update>

  <select id="selectByLimit" resultMap="ResultMap">
    SELECT * FROM teacher LIMIT #{start},#{num}
  </select>






</mapper>