<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scs.dao.THSensorMapper">
  <resultMap id="BaseResultMap" type="com.scs.pojo.THSensor">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="equipment_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="temperature" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="humidity" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="sign" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMap" type="com.scs.pojo.THSensor" >
    <id column="id" property="id"/>
    <result column="time" property="time"/>
    <result column="equipment_id" property="equipmentId"/>
    <result column="temperature" property="temperature"/>
    <result column="humidity" property="humidity"/>
    <result column="sign" property="sign"/>
  </resultMap>
  
  
  <sql id="Base_Column_List">
    id, time, equipment_id, temperature, humidity, sign
  </sql>
  <select id="selectByExample" parameterType="com.scs.pojo.THSensor" resultMap="ResultMap">
    select
    <include refid="Base_Column_List" />
    from th_sensor
    <trim prefix="where" suffixOverrides="and">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER}and
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP}and
      </if>
      <if test="equipmentId != null">
        equipment_id = #{equipmentId,jdbcType=INTEGER}and
      </if>
      <if test="temperature != null">
        temperature = #{temperature,jdbcType=REAL}and
      </if>
      <if test="humidity != null">
        humidity = #{humidity,jdbcType=REAL}and
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=BIT}and
      </if>
    </trim>
  </select>
  <delete id="deleteByExample" parameterType="com.scs.pojo.THSensor">
    delete from th_sensor WHERE id=#{id}
  </delete>
  <insert id="insert" parameterType="com.scs.pojo.THSensor">
    insert into th_sensor (id, time, equipment_id, 
      temperature, humidity, sign)
    values (#{id,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, #{equipmentId,jdbcType=INTEGER}, 
      #{temperature,jdbcType=REAL}, #{humidity,jdbcType=REAL}, #{sign,jdbcType=BIT})
    
    <!--select传过来的数据立马传给id -->
    <selectKey resultType="int" keyProperty="id" order="AFTER">
      select @@identity
    </selectKey>
      
      
  </insert>
  <insert id="insertSelective" parameterType="com.scs.pojo.THSensor">
    insert into th_sensor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="temperature != null">
        temperature,
      </if>
      <if test="humidity != null">
        humidity,
      </if>
      <if test="sign != null">
        sign,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="temperature != null">
        #{temperature,jdbcType=REAL},
      </if>
      <if test="humidity != null">
        #{humidity,jdbcType=REAL},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" resultType="java.lang.Long">
    select count(*) from th_sensor
  </select>
  <update id="updateByExampleSelective" parameterType="com.scs.pojo.THSensor">
    update th_sensor
    <set>
      <trim suffixOverrides=",">
        <if test="id != null">
          id = #{id,jdbcType=INTEGER},
        </if>
        <if test="time != null">
          time = #{time,jdbcType=TIMESTAMP},
        </if>
        <if test="equipmentId != null">
          equipment_id = #{equipmentId,jdbcType=INTEGER},
        </if>
        <if test="temperature != null">
          temperature = #{temperature,jdbcType=REAL},
        </if>
        <if test="humidity != null">
          humidity = #{humidity,jdbcType=REAL},
        </if>
        <if test="sign != null">
          sign = #{sign,jdbcType=BIT},
        </if>
      </trim>
      
    </set>
    
    where id=#{id}
  </update>
  
  <select id="selectById" resultMap="ResultMap">
    SELECT * FROM THSensor WHERE id=#{id}
  </select>
  
  <select id="selectAllTHSensor" resultMap="ResultMap">
    SELECT * FROM THSensor
  </select>
  
</mapper>